*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Konfigurasi & kunci penandatanganan (jangan commit!)
keystore.properties
keystore.sample.properties
keystore-release.jks
*.jks
*.keystore
*.p12
